
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: antiquewhite;
}
.logo{
    width: 100px;
    /* outline: 2px solid red; */
}
.logo img{
    width: 100%;

}
.logos{
    width: 100px;
    /* outline: 2px solid red; */
}
.logos img{
    width: 100%;

}
header{
    background-color: black;
}
.nav-link{
    color: white !important;
}
button.navbar-toggler{
    color: red !important;
    

}

.navbar-light .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="rgba(255, 255, 255, 0.55)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
}
.btn-outline-success {
    border-color: red;
    color: yellow;
}
.hero-page{
    width: 90%;
    margin: auto;
  
}
.text{
    width: 90%;
    margin: auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
 .text h4{
    width: 100%;
    margin-top: 2rem;
    font-size: 16px;
    color: white;
    background-color: #ef900a;
    padding: 20px;
    border-radius: 10px 50px 25px 15px;
    text-align: center;
    font-family: "Rubik";
    
}
.text h1{
    margin-top: 1rem;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: red;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-family: "Rubik";
    font-size: 30px;


}
.text a{
    color: red;
}
.photo{
    width: 80%;
    margin: auto;
 
  
 
    
    
}
.photo img{
    width: 100%;
    border-radius: 20px;
    margin-top: 2rem;

}
.finy{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    
}
.finy img{
    width: 100%;
    border-radius: 20px;

}

.join a{
    color: white;
}
a{
    text-decoration: none;
}
.register h3{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    font-family: "Rubik";
    background-color: #ef900a;
    border-radius: 50px 10px 50px 10px;
    padding: 20px;
    color: white;
}
.win{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    font-family: "Rubik";
    background-color: #fff;
    border-radius: 50px 10px 50px 10px;
    padding: 20px;
    color: #ef900a;
}

.let{
    outline: 2px solid white;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%; 
    margin-top: 2rem;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
}
.let:hover{
    background-color: black;
    color: white;

}
.join{
    outline: 2px solid white;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%; 
    margin-top: 2rem;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
}
.join:hover{
    background-color: black;
    color: white;

}
.won{
    outline: 2px solid white;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%; 
    margin-top: 2rem;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
}
.won:hover{
    background-color: black;
    color: white;

}
.won a{
    color: white;
}
.cardi{
    text-align: center;
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 50px 10px 50px 10px;
}
.register p{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    font-family: "Rubik";
    background-color: white;
    border-radius: 50px 10px 50px 10px;
    padding: 20px;
    color: rgb(158, 53, 53);
}
.about{
    text-align: center;
}

.highlights{
    margin-top: 1rem;
}
footer{
    background-color: black;
    padding: 2rem;
    margin-top: 5rem;
}
footer a{
    color: white;
    font-family: "Rubik";
}
footer li{
    list-style: none;
}
footer h4{
    color: #fff;
    margin-top: 1rem;
    font-family: "Rubik";
}
footer p{
    color: #fff;
    font-family: "Rubik";
}
.socials{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-top: 2rem;
}









/* FORM CSS */
.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
    margin-top: 2rem;
    text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
    margin-bottom: 5px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;

}
